@{
    ViewData["Title"] = "MeepleFinder";
}

<div class="text-center">
    <h1 class="display-4">MeepleFinder</h1>
    <p>Creating strong tabletop gaming communities by connecting gamers with each other</a>.</p>
</div>
